.Navigation {
    display: flex;
    justify-content: flex-start;
    background-color: rgb(44, 44, 45);
    padding: 10px;
    
}
.Navigation .unordered-list {
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: rgb(44, 44, 45); 
    margin-left: 120px;   
}
.Navigation .unordered-list .list-item {
    display: inline-block;
    margin-left: 5px;
    background-color: rgb(44, 44, 45);
    
}
.Navigation .unordered-list .list-item a {
    background-color: rgb(44, 44, 45);
}
.Navigation .unordered-list .list-item a:hover {
    text-decoration: underline;
    cursor: pointer;
}

.product-container {
    margin-left: 140px;
    margin-top: 50px;
    display: flex;
}
.product-container .product-image {
    height: 250px;
    width: 250px;
    border-radius: 10px;
}
.product-container .product-description {
    margin-top: -230px;
    margin-left: 400px;
    margin-bottom: 10px;
}
.product-container .product-description .product-name {
    font-size: 36px;
    margin-bottom: 10px;
}
.product-container .product-description .product-company {
    font-size: 20px;
    margin-bottom: 10px;
}
.product-container .product-description .product-price {
    margin-bottom: 10px;
}
.product-container .product-description .product-details {
    margin-bottom: 40px;
    margin-right: 200px;
}

.choice-container {
    display: inline-block;
    margin-top: 5px;
    padding-left: 540px;
    padding-right: 180px;
}
.choice-container .colors-container {
    font-size: 18px;
}
.choice-container .button-container .color-one {
    border-radius: 50px;
    background-color: rgb(44, 240, 44);
    padding: 10px;
    margin-right: 10px;
    margin-bottom: 15px;
    margin-top: 10px;
}
.choice-container .button-container .color-one:hover {
    cursor: pointer;
}
.choice-container .button-container .color-two {
    border-radius: 50px;
    background-color: rgb(21, 59, 248);
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
}
.choice-container .button-container .color-two:hover {
    cursor: pointer;
}
.choice-container .quantity-container .product-amount {
    font-size: 18px;
    margin-bottom: 15px;
}
.choice-container .quantity-container .product-quantity {
    width: 250px;
    height: 40px;
    border-radius: 10px;
    border: 1px solid blueviolet;
    margin-bottom: 30px;
}
.choice-container .quantity-container .product-quantity:hover {
    cursor: pointer;
}
.choice-container .add-to-bag-container .product-bag {
    padding: 12px;
    width: 130px;
    background-color: rgb(217, 176, 255);
    color: black;
    border-radius: 10px;
    margin-bottom: 100px;
}
.choice-container .add-to-bag-container .product-bag:hover {
    cursor: pointer;
    background-color: rgb(176, 115, 234);
    transition: 0.25s;
}
